.about-us {
   display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
   
    color: #ffffff;
  }
  .abouttitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #046BFA;
  }
  .abouttitle h1{
    margin: 0px;
    padding: 0px;
  }
  .abouttitle i {
    margin-right: 0.5rem;
    font-size: 1.9rem;
  }
  .about-content {margin-top:1rem ;
    border-radius: 2rem;
    padding: 1rem;
    background:  linear-gradient(to right, #5fa2ff, #eaebed);
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .aboutcontainer{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
  }
  .about-content section {
    padding: 25px;
    background: rgba(255, 255, 255, 0.881);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }
  
  .about-content h2 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #2575fc;
  }
  
  .about-content p {
    line-height: 1.8;
    color: #333;
  }
  
  .about-content a {
    color: #ffdd57;
    text-decoration: none;
  }
  
  .about-content a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .about-content {
      grid-template-columns: 1fr 1fr;
    }
  
    .about-content section {
      margin-bottom: 0;
    }
  }
  