.filters {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
    height: 15rem;
    border-right: 5px solid  #5fa2ff;
    border-left: 5px solid  #5fa2ff;
}
.filters h1{
    color: #046BFA;
    margin: 0px ;
    padding: 0px;
}
.filters div {
    margin-bottom: 15px;
}

.filters label {
    font-weight: bold;
    margin-right: 10px;
}

.filters select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.filters select:hover {
    border-color: #007bff;
}

.Writings {
    display: flex;
    justify-content: center;
}
#wcsection{
    display: flex;
    gap: 24px;
    border-radius: 12px;

}
.writing-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
    padding: 16px;
}
.writingtitle{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #046BFA;
}
.writingtitle h1{
    margin: 0px;
    padding: 0px;
  }
  .writingtitle i {
    margin-right: 0.5rem;
    font-size: 1.6rem;
  }
.writing-container h1{
    color: #046BFA;
    margin: 0px;
    padding: 0px;
}
#sort , #filter{
    font-size: 1rem;
    width: 10rem;
    border-radius: 2rem;
    border: 1px solid #5fa2ff;
    background-color: #5fa2ff;
    color: #ffffff;
}
#sort:hover , #filter:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
#sort:focus , #filter:focus{
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    background-color: #5fa2ff;
}
.Card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    transition: box-shadow 0.3s;
}

.Card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
